<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <title>Add an Album</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<nav th:include="navbar :: navbar"></nav>

<main class="container">
    <h1>Thanks for hanging out at the Record Store</h1>

    <div class="row">
        <h3>Add an Album</h3>
        <div class="col-md-6">

            <form action="/addAlbum" method="post" class="form-group">
                <div>
                    <label for="title">Album Title</label>
                    <input class="form-control" type="text" id="title" name="title" placeholder="Title"/>
                </div>

                <div>
                    <a href="/addArtist">Add artist</a>
                    <label for="artist">Album Artist</label>
                    <select name="artist" id="artist" class="form-control">
                        <option value="">--------</option>
                        <option th:each="artist : ${artists}" th:value="${artist.id}" th:inline="text">[[${artist.name}]]</option>
                    </select>
                </div>

                <div>
                    <label for="genre">Album Genre</label>
                    <input class="form-control" type="text" id="genre" name="genre" placeholder="Genre"/>
                </div>

                <div>
                    <label for="genre">Release Date</label>
                    <label for="releasedate">Update Release Date</label>
                    <select class="form-control" name="releasedate" id="age">
                        <option value="0">Release Month</option>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                    <input type="text" name="releasedate" class="form-control" id="releasedate" placeholder="Release Year"/>
                </div>

                <div>
                    <input class="form-control btn btn-primary" type="submit" value="Add Album"/>
                </div>

            </form>
        </div>

        <div class="col-md-6">
            <p>Artist not found?</p>
            <form action="/addArtist" method="post" class="form-group form-inline">
                <input type="text" name="addArtist" class="form-control" placeholder="Add Artist's Name"/>
                <input class="form-control btn btn-success" type="submit" value="Add Artist"/>
            </form>
        </div>

    </div>
</main>


<span th:include="includes :: js"></span>

</body>
</html>