<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <title>Bad Plaid Records</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<nav th:include="navbar :: navbar"></nav>

    <main class="container">
        <h1>Search Results</h1>

        <div class="row col-md-6">
            <ul class="list-group list-unstyled" th:each="artist : ${artists}">
                <li class="list-group-item active" th:inline="text">[[${artist.name}]]</li>
                <li th:each="album : ${artist.albums}">
                    <a th:href="'/album/' + ${album.id}" class="list-group-item" th:inline="text">[[${album.title}]]</a>
                    <ul class="list-unstyled">
                        <li th:each="song : ${album.songs}" class="" th:inline="text">[[${song.title}]]</li>
                    </ul>
                </li>
            </ul>
        </div>
    </main>


    <span th:include="includes :: js"></span>

</body>
</html>

